

&parinp

mcscfnum=1

maxexpodim=200

improvedrelaxflag=1
improvednatflag=1

saveflag=1
spfoutfile="Bin/spfs.bin.neon"
avectoroutfile="Bin/avector.bin.neon"

sparseconfigflag=1

denreg=1d-30

stopthresh=1d-4
astoptol=1d0

numelec=10
restrictms=0

par_timestep=0.1d0
timestepfac=1.05d0
max_timestep=2d0

nspf=9
numshells=2
shelltop=5
numexcite=3
dfrestrictflag=1

parorbsplit=3

/


&sincparinp

fft_batchdim=1
fft_circbatchdim=1

fft_mpi_inplaceflag=0

orbparlevel=1
orbparflag=.true.


orblanthresh=1d-1
orblanorder=300
orblancheckmod=20

num_skip_orbs=5
orb_skip(1:5)=6,7,8,9,10

numcenters=1
nuccharges=10

centershift=1,1,1

numpoints=64

spacing=0.4d0

/

