

$parinp


avectoroutfile="avector.bin.#outstr#"
spfoutfile="spfs.bin.#outstr#"

messflag=1
messamount=1d-4

improvedrelaxflag=1
improvednatflag=1


par_timestep=1.d0

stopthresh =  1.d-5

notiming=0

#atomstr#  
/


#gridstr#



