#!/bin/bash -l
#Job name:
#SBATCH --job-name=#jobname#
#SBATCH --error=#jobname#.$SLURM_JOB_ID.err
#SBATCH --output=#jobname#.$SLURM_JOB_ID.out

#SBATCH --nodes=#nnodes#
#SBATCH --ntasks-per-node=#corespernode#

#SBATCH --partition=lr3
#SBATCH --account=lr_axl
#SBATCH --qos=condo_axl


#Wall clock limit:
#SBATCH --time=#walltime#



cd $SLURM_SUBMIT_DIR
echo $SLURM_JOB_NODELIST
echo $SLURM_TASKS_PER_NODE
echo $LD_LIBRARY_PATH
echo $PATH
python mpilaunchscript.py
